/* main cotent area  */
main{
    width: 80%;
}
/* header section  */
.logo > .logo-image{
    height: 62px;
    width: 62px;
}
.logo > p{
    font-weight: bold;
    font-size: 32px;
}
nav > ul > li{
    list-style: none;
}
nav > ul > li > a{
    text-decoration: none;
    font-weight: 400px;
    font-size: 20px;
}
.header-container > button{
    background-color: #FEA301;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 300px;
    padding: 10px 60px;
    border: none;
    border-radius: 12px;
}
/* shared style  */
.header-container , .logo , nav > ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-container, nav > ul{
    gap: 20%;
}
