/* universal section */
*{
    font-family: Quicksand;
}
/* main cotent area  */

.footer-section, 
.card, 
.story,
.hero{
    max-width: 85%;
    margin-left: 8%;
}
/* header section  */
.logo > .logo-image{
    height: 62px;
    width: 62px;
}
.logo > p{
    font-weight: bold;
    font-size: 32px;
}
nav > ul > li{
    list-style: none;
}
nav > ul > li > a{
    text-decoration: none;
    font-weight: 400px;
    font-size: 20px;
}
.story-container-btn, .header-btn, .hero-btn{
    background-color: #FEA301;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 300px;
    padding: 10px 60px;
    border: none;
    border-radius: 12px;
}
/* shared style  */
.chevron, 
.item-container, 
.hero, 
.header-container, 
.logo, 
nav> ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero , .header-container, nav > ul{
    gap: 20%;
}
/* hero section  */
.hero-text > h1{
    font-size: 56px;
    font-weight: bold;
}
.story-container-btn, .hero-btn{
    background-color: #111111;
    margin-top: 5px;
}
/* card section  */
.card-background{
    background-image: url(./assets/bg.png);
}
.card{
    margin-top: 10%;
    
}
.card-heading{
    font-size: 46px;
    text-align: center;
}
.item{
    text-align: center;
    width: 26%;   
    border: #DEF5FF;
    background: linear-gradient(#DEF5FF, #FFFFFF);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 50px;
    border-radius: 18px;
}
.item-heading{
    font-size: 25px;
}
.item-gradient1{
    background: linear-gradient(#FFF4DC, #FFFFFF);
}
.item-gradient2{
    background: linear-gradient(#EEE1FF, #FFFFFF);
}
.item-btn{
    border: none;
    background: none;
    font-size: 15px;
    font-weight: 300px;
    margin-top: 5%;
}
.item-btn-color1{
    color: #64C8FF;
}
.item-btn-color2{
    color: #F0AA00;
}
.item-btn-color3{
    color: #8700FF;
}
.item-container{
    gap: 10%;
    margin-top: 10%;
}
.chevron-left, .chevron-right{
    height: 60px;
    width: 60px;
    background-color: #FEA301;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}
.chevron-dimension{
    height: 24px;
    width: 15px;
    color: #FFFFFF;
}
.chevron{
    gap: 2%;
    margin-top: 6%;
}
/* story section  */
.story-background{
    background-image: url(./assets/bg.png), linear-gradient(#F7F7F7, rgba(254, 161, 1, 0.3));
}
.story{
    margin-top: 10%;
}

.story-btn{
    background-color: #3CD8E8;
    color: #FFFFFF;
    border-radius: 48px;
    border: none;
    padding: 12px 15px;
    margin-left: 2%;
    margin-top: -1.5%;
    position: absolute;
}
.story-btn-small{
    background-color: #95B226;
    color: #FFFFFF;
    border-radius: 48px;
    border: none;
    padding: 8px 12px;
    margin-left: 1%;
    margin-top: -1.5%;
    position: absolute;
}
.story-btn-small-one{
    background-color: #5D58F0;
}
.story1{grid-area: story1;}
.story2{grid-area: story2;}
.story3{grid-area: story3;}
.story4{grid-area: story4;}
.story5{grid-area: story5;}
.story-shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.story-container{
    display: grid;
    grid-template-areas: 
    'story1 story1 story2 story3'
    'story1 story1 story4 story5'
    ;
    grid-gap: 2%;
    margin-top: 6%;
    margin-bottom: 6%;
}
.story-image> img{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    object-fit: cover;
    width: 100%;
}
.story-bg-color{
    background-color: #FFFFFF;
    border-radius: 16px;
}
.story-text{
    padding-left: 5%;
    height: auto;
}
.story1> .story-text> h3{
    font-size: 24px;
    font-weight: bold;
}
.story-text> h3{
    font-size: 15px;
    font-weight: bold;
}
.story-container-btn{
    margin-bottom: 5%;
}
/* footer section  */
footer{
    background-color: #01ACFD;   
}
.description-logo > img{
    height: 82px;
    width: 82px;
}
.description-logo > p{
    font-size: 42px;
    font-weight: bold;
    color: #FFFFFF;
    margin-left: 1%;
}
.description-text{
    margin-left: 2%;
    color: #FFFFFF;
}
.sitemap > ul > li > a{
    text-decoration: none;
}
.description-logo{
    display: flex;
    align-items: center;
    margin-top: -10%;
}
.description{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-right: 10%;
    margin-bottom: 10%;
}
.social, .sitemap > p{
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
}
.map-links{
    display: flex;
    flex-direction: column;
    gap: 10%;
}
.map-links > a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 400px;
    color: #FFFFFF;
}
.sitemap{
    width: 33%;
    margin-left: 15%; 
}
.social-links{
    display: flex;
    gap: 2%;
}
.social{
    width: 33%;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}
.footer-section{
    display: flex;
    padding-top: 5%;
}
.copyright{
    text-align: center;
    padding-bottom: 2%;
}




